<section class="body-section">
  <nav class="nav-bar-body" id="navbar">
    <div class="display-logo-items-nav-bar">
      <img class="logo-img-nav-bar" src="../assets/img/logo.png" alt="">
      <ul class="lista-items-nav-bar">
        <li class="item-list-nav-bar"><span class="item-list-nav-bar-active">Inicio</span></li>
        <li class="item-list-nav-bar">Series</li>
        <li class="item-list-nav-bar">Películas</li>
        <li class="item-list-nav-bar">Novedades populares</li>
        <li class="item-list-nav-bar">Mi lista</li>
        <li class="item-list-nav-bar">Explorar por idiomas</li>
      </ul>
    </div>
    <div class="display-img-nav-bar">
      <img class="img-nav-bar" src="../assets/img/search.png" alt="">
      <span class="item-list-nav-bar">Niños</span>
      <img class="img-nav-bar" src="../assets/img/notificacion.png" alt="">
      <img class="avatar" src="../assets/img/Avatar.png" alt="">
      <img src="../assets/img/array.png" alt="" class="img-drop-nav-bar">
    </div>
  </nav>

  <main class="body-top-serie-section">
    <header class="display-flex-header-top-serie">
      
      <img src="../assets/img/SweetTooth.png" alt="" class="img-top-serie">
      <article class="display-article-top-serie"><div class="display-top-series"><h3 class="top-serie-txt">TOP</h3> <span class="top-serie-number">10</span></div> <span class="text-article-top-serie">N.° 3 en TV hoy</span></article>
      <h5 class="description-top-serie">Érase una vez, un adorable niño‑venado llamado Gus que se unió a un ermitaño errante en un viaje peligroso por un EE. UU. posapocalíptico en busca de su familia.</h5>
      <article class="display-flex-button-top-serie"><button class="button-reproducir-top-serie"><img src="../assets/img/play.png" alt="" class="icon-button-top-serie"> Reproducir</button> <button class="button-mas-info-top-serie"> <img src="../assets/img/alert.png" alt=""  class="icon-button-top-serie alert flip invert"> Más información</button></article>
    </header>
  </main>
  <main class="list-carrousel-display">
      <app-carroucel></app-carroucel>
  </main>


</section>