<section class="body-section">
  <nav class="nav-bar-body" id="navbar">
    <div class="display-logo-items-nav-bar">
      <img class="logo-img-nav-bar" src="../assets/img/logo.png" alt="">
      <ul class="lista-items-nav-bar">
        <li class="item-list-nav-bar"><span class="item-list-nav-bar-active">Inicio</span></li>
        <li class="item-list-nav-bar">Series</li>
        <li class="item-list-nav-bar">Películas</li>
        <li class="item-list-nav-bar">Novedades populares</li>
        <li class="item-list-nav-bar">Mi lista</li>
        <li class="item-list-nav-bar">Explorar por idiomas</li>
      </ul>
    </div>
    <div class="display-img-nav-bar">
      <img class="img-nav-bar" src="../assets/img/search.png" alt="">
      <span class="item-list-nav-bar">Niños</span>
      <img class="img-nav-bar" src="../assets/img/notificacion.png" alt="">
      <img class="avatar" src="../assets/img/Avatar.png" alt="">
      <img src="../assets/img/array.png" alt="" class="img-drop-nav-bar">
    </div>
  </nav>

  <main class="body-top-serie-section">
    <header class="display-flex-header-top-serie">
      
      <img src="../assets/img/SweetTooth.png" alt="" class="img-top-serie">
      <article class="display-article-top-serie"><div class="display-top-series"><h3 class="top-serie-txt">TOP</h3> <span class="top-serie-number">10</span></div> <span class="text-article-top-serie">N.° 3 en TV hoy</span></article>
      <h5 class="description-top-serie">Érase una vez, un adorable niño‑venado llamado Gus que se unió a un ermitaño errante en un viaje peligroso por un EE. UU. posapocalíptico en busca de su familia.</h5>
      <article class="display-flex-button-top-serie"><button class="button-reproducir-top-serie"><img src="../assets/img/play.png" alt="" class="icon-button-top-serie"> Reproducir</button> <button class="button-mas-info-top-serie"> <img src="../assets/img/alert.png" alt=""  class="icon-button-top-serie alert flip invert"> Más información</button></article>
    </header>
  </main>
  <main class="list-carrousel-display">
    <header class="header-carrousel anime">
      <div class="display-items-and-name-carrousel">
        <span class="title-carrousel-display">Anime basado en manga</span>
        <ul class="display-items">
          <li class="items-carrousel" [ngClass]="{'actived': this.position === 1}"></li>
          <li class="items-carrousel" [ngClass]="{'actived': this.position === 2}"></li>
          <li class="items-carrousel" [ngClass]="{'actived': this.position === 3}"></li>
          <li class="items-carrousel" [ngClass]="{'actived': this.position === 4}"></li>
         
        </ul>
      </div>
      <div class="carrousel-display" id="carousel-anime">
        <div class="carousel initialShadow">      
          <div class="card-carrousel" *ngFor="let anime of this.animes">
            <div class="card-img" style="background-image: url(../assets/img/animes/{{anime.img}});"></div>
            <footer class="card-footer">
              <div class="card-buttons-serie-display">
                  <div class="card-button-serie">
                      <button class="card-buttons card-play">
                          <img src="../assets/img/play.png" alt="" class="card-img-button-play">
                      </button>
                      <button class="card-buttons plus">
                          <img src="../assets/img/plus.png" alt="" class="card-img-button-plus">
                          <div class="card-add-list-display agregar-a-mi-lista">
                              <span class="card-add-list">Agregar a Mi lista</span>
                              <div class="card-triangulo"></div>
                          </div>
                      </button>
                      <button class="card-buttons like">
                        <img src="../assets/img/like.png" alt="like" class="card-img-button-like">
                        <div class="card-button-like-options">
                          <div class="card-button-option-display-dislike">
                            <img src="../assets/img/like.png" alt="dislike" class="card-img-button-options dislike">
                            <div class="card-add-list-display no-es-para-mi">
                              <span class="card-add-list ">No es para mí</span>
                              <div class="card-triangulo ct-no-es-para-mi"></div>
                            </div>
                          </div>
                          <div class="card-button-option-display-like">
                            <img src="../assets/img/like.png" alt="like" class="card-img-button-options">
                            <div class="card-add-list-display me-gusta">
                              <span class="card-add-list">Me gusta</span>
                              <div class="card-triangulo ct-me-gusta"></div>
                            </div>
                          </div>
                          <div class="card-button-option-display-mega-like">
                            <div class="mega-like-one-bg">
                              <img src="../assets/img/like.png" alt="mega like" class="card-img-button-options mega-like-one">
                            </div>
                            <img src="../assets/img/like.png" alt="mega like" class="card-img-button-options mega-like-two">
                            <div class="card-add-list-display me-encanta">
                              <span class="card-add-list">Me encanta</span>
                              <div class="card-triangulo ct-me-encanta"></div>
                            </div>
                          </div>               
                        </div>
                      </button>
                  </div>
                  <button class="card-buttons">
                      <img src="../assets/img/arrow.png" alt="menu" class="card-img-button-arrow">
                  </button>
              </div>
              <div class="card-info-display">
                  <span class="card-valoracion">{{anime.recomendacion}}% para ti</span>
                  <div class="card-edad">{{anime.edad}}+</div>
                  <span class="card-episodios">{{anime.episodios}}</span>
                  <div class="card-calidad">{{anime.calidad}}</div>
              </div>
              <div class="card-categorias">{{anime.categorias}}</div>
          </footer>
          
          </div>                
        </div>
      </div>
      <button id="anime-prev" class="carousel-button prev"  (click)="this.prev()" *ngIf="this.position > 1">‹</button>
      <button id="anime-next"  class="carousel-button next" (click)="this.next()">›</button>
    </header>
  </main>


</section>