<div class="card-buttons-serie-display">
    <div class="card-button-serie">
        <button class="card-buttons card-play">
            <img src="../assets/img/play.png" alt="" class="card-img-button-play" />
        </button>

        <button class="card-buttons plus">
            <img src="../assets/img/plus.png" alt="" class="card-img-button-plus" />
            <div class="card-add-list-display agregar-a-mi-lista">
                <span class="card-add-list">Agregar a Mi lista</span>
                <div class="card-triangulo"></div>
            </div>
        </button>

        <button class="card-buttons like">
            <img src="../assets/img/like.png" alt="like" class="card-img-button-like" />

            <div class="card-button-like-options">
                <div class="card-button-option-display-dislike">
                    <img src="../assets/img/like.png" alt="dislike" class="card-img-button-options dislike" />
                    <div class="card-add-list-display no-es-para-mi">
                        <span class="card-add-list">No es para mí</span>
                        <div class="card-triangulo ct-no-es-para-mi"></div>
                    </div>
                </div>

                <div class="card-button-option-display-like">
                    <img src="../assets/img/like.png" alt="like" class="card-img-button-options" />
                    <div class="card-add-list-display me-gusta">
                        <span class="card-add-list">Me gusta</span>
                        <div class="card-triangulo ct-me-gusta"></div>
                    </div>
                </div>

                <div class="card-button-option-display-mega-like">
                    <div class="mega-like-one-bg">
                        <img src="../assets/img/like.png" alt="mega like"
                            class="card-img-button-options mega-like-one" />
                    </div>
                    <img src="../assets/img/like.png" alt="mega like" class="card-img-button-options mega-like-two" />
                    <div class="card-add-list-display me-encanta">
                        <span class="card-add-list">Me encanta</span>
                        <div class="card-triangulo ct-me-encanta"></div>
                    </div>
                </div>
            </div>
        </button>
    </div>

    <button class="card-buttons">
        <img src="../assets/img/arrow.png" alt="menu" class="card-img-button-arrow" />
    </button>
</div>